<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OrderMenu.Properties.Settings.OrderDBConnectionString"
            connectionString="Data Source=XZJS-PC\SQLEXPRESS;Initial Catalog=OrderDB;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>