<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OrderMenu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="OrderMenu.Properties.Settings.OrderDBConnectionString"
      connectionString="Data Source=XZJS-PC\SQLEXPRESS;Initial Catalog=OrderDB;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
    <add name="OrderMenu.Properties.Settings.DatabaseOrderMenuConnectionString"
      connectionString="&#xA;        &lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-16&quot;?&gt;&#xA;        &lt;SerializableConnectionString xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot;&gt;&#xA;        &lt;ConnectionString&gt;Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DatabaseOrderMenu.mdf;Integrated Security=True&lt;/ConnectionString&gt;&#xA;        &lt;ProviderName&gt;System.Data.SqlClient&lt;/ProviderName&gt;&#xA;        &lt;/SerializableConnectionString&gt;&#xA;      " />
  </connectionStrings>
  <applicationSettings>
    <OrderMenu.Properties.Settings>
      <setting name="dgvfalse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dgvtrue" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="dgvselect" serializeAs="String">
        <value>FullRowSelect</value>
      </setting>
    </OrderMenu.Properties.Settings>
  </applicationSettings>
</configuration>